- @page_class = 'page-artists-landing'

.floatleft.mr10
  = form_for @artists, :url => artists_path, :html => { :method => :get } do |f|
    %fieldset
      %p.box.dark.floatleft.mr10.pr10.pl10 Search Artists By ...
      .field.text.inline.mb5  
        = f.label :name_starts_with, 'Name: '
        .wrapper
          = f.text_field :name_starts_with

      .field.select.inline.mb5
        = f.label :instrument_id_equals, 'Instrument: '
        .wrapper
          = f.collection_select :instrument_id_equals, Instrument.all, :id, :name, :include_blank => 'any instrument'

      = f.submit "search"
.clear
%ul.inline-list.grid-view
  - @artists.each do |artist|
    %li.container{ :class => cycle('first', '', '', '', '', 'last') }
      = link_to(artist) do
        .body
          = image_tag(artist.image.thumb.url)
          .clear
          %span.box.block.name= artist.name
          %p.byline= artist.instrument.try(:name)
