- @page_class = 'section-artists page-index'

.floatleft.mr10.searchy-inline
  = form_for @artists, :url => artists_path, :html => { :method => :get } do |f|
    %fieldset
      %p.box.dark.floatleft.mr10.pr10.pl10 Search Artists By ...
      .field.text.inline.mb5  
        = f.label :name_starts_with, 'Name: '
        .wrapper
          = f.text_field :name_starts_with

      .field.select.inline.mb5
        = f.label :instrument_id_equals, 'Instrument: '
        .wrapper
          = f.collection_select :instrument_id_equals, Instrument.all, :id, :name, :include_blank => 'any instrument'

      = f.submit "search"
.clear
%ul.inline-list.grid-view
  - @artists.each do |artist|
    %li.container{ :class => cycle('first', '', '', '', '', 'last') }
      - name = artist.name
      - instrument = artist.instrument.try(:name)

      = link_to(artist, :title => (name + ' - ' + (instrument ? instrument : ''))) do
        .body
          = image_tag(artist.image.thumb.url)
          .clear
          %span.box.block.name
            %span= name
          %p.byline
            - if instrument
              instrument
            - else
              &nbsp;
