- @page_class = 'layout-1 section-artists page-show'
- @truncate_bio = true

.col-1

  .section
    %a.box.dark{:href => 'javascript:void(0);'} Search Artists By...
    = form_for :blah do |f|
      %fieldset.searchy
        .field.select
          = f.label :name, 'Name:'
          .input
            = f.select :name, ['One','Two','Three']
          .submit
            = f.submit :search
        .field.select
          = f.label :instrument, 'Instrument:'
          .input
            = f.select :instrument, ['One','Two','Three']
          .submit
            = f.submit :search
        .clear
  #info.section
    .container.skin-dark
      .body
        .media-with-info
          .media
            = image_tag(@artist.image.url(:thumb))
          .info
            %h3.name= @artist.name
            %p.instrument= @artist.instrument.name
            #bio= simple_format(sanitize(@artist.bio))
        - if @artist.website
          = link_to('Visit artists website', @artist.website, {:class => 'box visit-website', :target => '_blank'})

  - if @artist.buy_links.present?
    #shop.section
      .container.skin-dark
        .body
          %h3 Shop for tunes by this artist:
          %ul.inline-list
            - @artist.buy_links.each do |link|
              %li= link_to(link.title, link.url, :class => 'box')

  - if @artist.upcoming_shows.present?
    #shows.section
      .container.skin-dark
        .body
          %h3 Upcoming shows by this artist:
          %ul.header-meta-list
            - @artist.upcoming_shows.each do |show|
              %li
                %h4= link_to(show.group_name, show)
                %p.byline
                  %span.date= show.when.strftime("%m/%d/%Y")
                  %span.venue= link_to(show.venue.name, show.venue)
          -# TODO
          -# hook this shit up
          %a.box{:href => '#'} See all shows by this artist

  - if @artist.associated_artists.present?
    #known_associates.section.snug
      .container.skin-dark
        .body
          %h3 Known associates:
          %ul.inline-list
            - @artist.associated_artists.each do |artist|
              %li
                = link_to(artist.name, artist, :class => 'box')

.col-2
  .section
    .container
      .body#video-player-container
        - if @selected_video
          %iframe#video-player{ :src => "#{@selected_video.url}?title=0&byline=0&portrait=0&color=ffffff", :width => '621', :height => '350', :frameborder => '0' }
          %p
            = link_to(@selected_video.show.group_name, @selected_video.show, :class => 'box dark')
            = @selected_video.show.when.strftime("%m/%d/%Y")
            = link_to(@selected_video.show.venue.name, @selected_video.show.venue)

          %h3 Featured Artists
          %ul.inline-list
            - @selected_video.show.performances.each do |performance|
              %li= link_to("#{performance.artist.name} (#{performance.instrument.name})",
                performance.artist, :class => 'box')

        - else
          %p No Video Available

  - if @videos.present?
    .section.pl10.pt5
      %h3 More videos featuring this artist:
    .section
      %ul.inline-list.grid-view
        - @videos.each do |video|
          %li.container{:class => cycle('first','','','last')}
            %a.block{:href => video.url, :data => { :video => true, :embed_code => video.embed_code }}
              .body
                = image_tag(video.thumbnail.url(:tiny))
                .clear
                %span.box.block.name= video.show.group_name
                %p.show
                  %span.when= video.show.when.strftime("%m/%d/%Y")
                  %span.venue= video.venue.name

