- @page_class          = 'section-video page-index'
- @video_url_options ||= { }

-# TODO
-# should these be separate forms? should you only be able to search
-# by artist OR venue?
.searchy-inline
  = form_for @videos, :url => videos_path do |f|
    %fieldset
      %span.box.dark.floatleft.mr10.pr10.pl10 Search Video By ...
      .field.select.inline.mb5
        = f.label :performances_artist_id_equals, 'Artist:'
        .wrapper
          = f.collection_select :performances_artist_id_equals, Artist.with_state(:live), :id, :name, :include_blank => 'any artist'
      = f.submit :search, :class => 'floatleft mr10'

      .field.select.inline.mb5
        = f.label :show_venue_id_equals, 'Venue:'
        .wrapper
          = f.collection_select :show_venue_id_equals, Venue.all, :id, :name, :include_blank => 'any venue'
      = f.submit :search

  .clear

-# TODO refactor
-# this and venues show should share the same partial?
%ul.inline-list.grid-view
  - @videos.each do |video|
    %li.container{:class => cycle('first','','','','','last')}
      %a.block{ :href => video_path(video, @video_url_params), :data => { :video => video.id, :show => video.show.id, :embed_code => video.embed_code } }
        .body
          = image_tag(video.thumbnail.url(:tiny))
          .clear
          %span.box.block.name= video.show.group_name
          %p.show
            %span.when= video.show.when.strftime("%m/%d/%Y")
            %span.venue= video.show.venue.try(:name)

