- @page_class          = 'section-video page-index'
- @video_url_options ||= { }

-# TODO
-# should these be separate forms? should you only be able to search
-# by artist OR venue?
.searchy-inline
  = form_for @videos, :url => videos_path do |f|
    %fieldset
      %span.box.dark.floatleft.mr10.pr10.pl10 Search Video By ...
      .field.select.inline.mb5
        = f.label :performances_artist_id_equals, 'Artist:'
        .wrapper
          = f.collection_select :performances_artist_id_equals, Artist.with_state(:live), :id, :name, :include_blank => 'any artist'
      = f.submit :search, :class => 'floatleft mr10'

      .field.select.inline.mb5
        = f.label :show_venue_id_equals, 'Venue:'
        .wrapper
          = f.collection_select :show_venue_id_equals, Venue.all, :id, :name, :include_blank => 'any venue'
      = f.submit :search

  .clear

%ul.inline-list.grid-view
  - @videos.each do |video|
    = render :partial => 'videos/video_thumb', :locals => {:li_class => cycle('first','','','','','last'), :video => video, :video_url_params => @video_url_params}
