.section.snug#mailing-list
  .container.skin-dark
    .body
      %h3 Join our mailing list.
      = form_for :blah do |f|
        %fieldset
          .field.text
            = f.label :name, 'Name:'
            .wrapper
              = f.text_field :name
          .field.text
            = f.label :email, 'Email:'
            .wrapper
              = f.text_field :email
          .field.radio.floatleft.subscribe
            = f.radio_button(:subscribe, 'yes')
            .wrapper
              = f.label(:subscribe_yes, 'Subscribe')
          .field.radio.floatleft
            = f.radio_button(:subscribe, 'no')
            .wrapper
              = f.label(:subscribe_no, 'Unsubscribe')
          .actions.floatright
            = f.submit('go')
          .clear
