- @page_class = 'layout-2 page-about'


.col-1
  .section
    = image_tag('/images/about.png')
  = render :partial => 'shared/mailing_list'
.col-2
  .container
    .body
      %h4.box.dark.mb5 About Search&amp;Restore
      #about
        :textile
          #{@about.about}
.col-3
  .container.skin-dark
    .body
      %h3 Recent Press:
      %ul.header-meta-list
        - @press_clippings.each do |pc|
          %li
            %h4= pc.source
            %p.byline
              %span.date= pc.date.strftime("%m/%d/%Y")
              %span.author= pc.author
            = link_to(pc.link.title, pc.link.url, :target => '_blank', :class => 'box')
.clear
