- @page_class = 'page-artists-landing'
- form_for :blah do |f|
  = f.label :name, :class => 'box dark'
  = f.label :name
  = f.select :name, ['one','two','three']
  = f.submit :submit
- form_for :blah do |f|
  = f.label :instrument
  = f.select :instrument, ['one','two','three']
  = f.submit :submit
%ul.inline-list.artists-grid
  - 18.times do |t|
    %li.container{:class => cycle('first','','','','','last')}
      .body
        = image_tag('http://dummyimage.com/140x140/000/fff')
        .clear
        %a.box.block.name{:href => '#'} Pete Robbins
        %p.instrument Alto Saxophone
