- @page_class = 'page-artists-landing'

.floatleft#search-by-name.mr10
  - form_for :blah do |f|
    %fieldset
      = f.label :name, 'Search Artists By ...', :class => 'box dark floatleft mr10 pr10 pl10'
      .field.select.inline.mb5
        = f.label :name, 'Name:'
        .wrapper
          = f.select :name, ['one','two','three']
      = f.submit :submit
.floatleft#search-by-instrument
  - form_for :blah do |f|
    %fieldset
      .field.select.inline.mb5
        = f.label :instrument, 'Instrument:'
        .wrapper
          = f.select :instrument, ['one','two','three']
      = f.submit :submit
.clear
%ul.inline-list.grid-view
  - 18.times do |t|
    %li.container{:class => cycle('first','','','','','last')}
      %a.block{:href => '#'}
        .body
          = image_tag('http://dummyimage.com/140x140/000/fff')
          .clear
          %span.box.block.name{:href => '#'} Pete Robbins
          %p.instrument Alto Saxophone
