- masthead_bgs = ['videos','venues','resources','donate','artists','about', 'shows']
- @masthead_bg = masthead_bgs[rand(masthead_bgs.length)] 
- @page_class = "layout-2 page-home masthead-bg-#{@masthead_bg}"

#main-content-secondary
  .col-1-2
    .col-1.section#exciting-news
      .container.skin-dark.darker
        .body
          %h3
            = image_tag('/images/home/exciting_news.png', :alt => 'Exciting News')
          %div
            :textile
              #{@homepage.exciting_news}
  
    .col-2
      %h3.container.skin-dark.darker
        .body
          = image_tag('/images/home/featured_video.png', :alt => 'Featured Video')
      .section#featured-video
        .container
          - if @featured_video.present?
            = render :partial => 'videos/video_thumb', :locals => { :thumbnail => nil, :video => @featured_video }

            .body.additional-content
              - if @featured_video_description
                %p.video_description= @featured_video_description
            
              = link_to('See more videos...', videos_path, :class => 'box')
      %h3.container.skin-dark.darker
        .body
          = image_tag('/images/home/top_picks.png', :alt => 'Tonights Top Picks')
      .section
        .container.skin-dark
          .body
            %ul.header-meta-list
              - @top_picks.each do |show|
                -# TODO refactor
                -# show listings show up a lot of places, and I don't think
                -# they're right since they don't always show all the information
                %li
                  %h4= show.group_name
                  %p.byline
                    %span.date= show.when.strftime("%m/%d/%Y")
                    %span.location= link_to(show.venue.name, show.venue)
              = link_to('See more shows...', shows_path, :class => 'box')
    
    .clear
  
  .col-3
    .section#intro
      .container.skin-dark
        .body
          %h3
            = image_tag('/images/home/hello_there.png', :alt => 'Well Hello There')
          #about
            :textile
              #{truncate(@about.about, :length => (@about.about.index('==<!-- homepage -->==') || 347) + 3)}
    
          %a.box{:href => '/home/about'} Learn more...
    = render :partial => 'shared/mailing_list'
  
    .section.mt-5
      %a.box.large{:href => '/home/donate'} Donate To Search &amp; Restore
  
  .clear
