- @page_class = 'layout-1 page-shows'
.col-1
  .section
    %a.box.dark{:href => '#'} Search Shows By...
    - form_for :blah do |f|
      %fieldset.searchy
        .field.select
          = f.label :artist, 'Artist:'
          .input
            = f.select :artist, ['One','Two','Three']
          .submit
            = f.submit :search
        .field.select
          = f.label :venue, 'Venue:'
          .input
            = f.select :venue, ['One','Two','Three']
          .submit
            = f.submit :search
        .field.calendar.floatleft
          = f.label :date, 'Date:'
          #datepicker
        .floatleft.calendar-submit
          = f.submit :search
        .clear

  %h3.box-header See Tonight's Top Picks
  .container.skin-dark
    .body
      %h3 Upcoming Search&amp;Restore Shows:
      %ul.header-meta-list
        - 3.times do |t|
          %li
            %h4 Trans-Atlantic Quartet
            %p.byline
              %span.date 03/31/2011
              %span.location Bowery Poetry Club
      %a.box{:href => '#'} See All Search&amp;Restore Shows
.col-2
  %h3 Search results for Thursday 31st of March 2011:
  %ul.containers.show-listing
    - 9.times do |t|
      %li.container
        .body
          %a.box.dark.band{:href => '#'} SILENT Z
          %a.box.venue{:href => '#'} Tea Lounge, Brooklyn
          %p.date 03/31/2011 9pm
          .clear
          %h3#featured-musicians-title Featured Musicians:
          %ul.inline-list
            %li
              %a.box{:href => '#'} Pete Robbins (alto saxophone)
            %li
              %a.box{:href => '#'} Mikkel Ploug (guitar)
            %li
              %a.box{:href => '#'} Simon Jermyn (bass)
            %li.last
              %a.box{:href => '#'} Kevin Brow (drums)
          %h3 About This Show
          %p This quartet tours Europe extensively, playing a mix of my older and newer pieces. Compared to siLENT Z, the focus is less on timbre and semi-structured improvisation and more on exploring the details of the harmonic and rhythmic elements of the compositions in a clear and convincing manner. A live album may be coming in 2011... stay tuned...
.clear
