- @page_class = 'layout-4 section-venues page-index'

.searchy-inline
  .floatleft#search-by-name.mr10
    - form_for :blah do |f|
      %fieldset
        = f.label :name, 'Search Venues:', :class => 'box dark floatleft mr10 pr10 pl10'
        .field.select.inline.mb5
          = f.label :name, 'Name:'
          .wrapper
            = f.select :name, ['one','two','three']
        = f.submit :search
  .clear
.col-1
  .container
    .body{:style => 'padding: 6px;'}
      #map_canvas{:style => "width: 457px; height: 560px"}
.col-2
  %ul.inline-list.grid-view
    - 9.times do |t|
      %li.container{:class => cycle('first','','last')}
        %a.block{:href => '/home/venues'}
          .body
            = image_tag('http://dummyimage.com/140x140/000/fff')
            .clear
            %span.box.block.name{:href => '#'} Village Vanguard
            %p.byline Manhattan 
.clear
