- @page_class = 'section-video page-index'

.searchy-inline
  .floatleft#search-by-name.mr10
    - form_for :blah do |f|
      %fieldset
        = f.label :artist, 'Search Video By ...', :class => 'box dark floatleft mr10 pr10 pl10'
        .field.select.inline.mb5
          = f.label :artist, 'Artist:'
          .wrapper
            = f.select :artist, ['one','two','three']
        = f.submit :search
  .floatleft#search-by-instrument
    - form_for :blah do |f|
      %fieldset
        .field.select.inline.mb5
          = f.label :venue, 'Venue:'
          .wrapper
            = f.select :venue, ['one','two','three']
        = f.submit :search
  .clear
%ul.inline-list.grid-view
  - 18.times do |t|
    %li.container{:class => cycle('first','','','','','last')}
      %a.block{:href => '/home/video'}
        .body
          = image_tag('http://dummyimage.com/140x75/000/fff')
          .clear
          %span.box.block.name Pete Robbins
          %p.byline Alto Saxophone

