- @page_class = 'layout-1 section-venues page-show'

.col-1
  .section
    = form_tag venues_url, :method => 'get' do
      %fieldset.searchy
        = label_tag :id, 'Search Venues:', :class => 'box dark'
        .field.select
          .input
            = select_tag :id, options_from_collection_for_select(Venue.all, :id, :name), :include_blank => 'choose a venue'
          .submit
            = submit_tag :search
          .clear

  .section
    #map_canvas{:style => "width: 310px; height: 387px"}
  #upcoming-shows.section.snug
    .container.skin-dark
      .body
        - if @venue.shows.upcoming.any?
          %h3 Upcoming Shows at this Venue:
          %ul.header-meta-list
            - @venue.shows.upcoming.limit(3).each do |show|
              %li
                %h4= show.group_name
                %p.byline
                  %span.date= show.when.strftime('%m/%d/%Y')
                  %span.location= link_to(@venue.name, @venue)
        = link_to('See All Shows at this Venue', shows_path(:search => { :venue_id_equals => @venue.id }), :class => 'box')


.col-2{ :data => { :latitude => @venue.latitude, :longitude => @venue.longitude, :name => @venue.name, :address => @venue.address } }
  .section
    .container.skin-dark
      .body
        .media-with-info.large
          .media
            = image_tag(@venue.image.url(:thumb))
          .info
            %h4.name= @venue.name
            %address.mb10= @venue.address
            %dl
              %dt Music every night:
              %dd.music_every_night= @venue.music_every_night? ? 'Yes' : 'No'
              %dt Capacity:
              %dd.capacity= @venue.capacity
              %dt Reservations:
              %dd.reservations= @venue.reservations? ? 'Yes' : 'No'

              - if @venue.age_restriction.present?
                %dt Age Restrictions:
                %dd.age_restriction= @venue.age_restriction

              - if @venue.food_and_drink.present?
                %dt Food/Drink:
                %dd.food_and_drink= @venue.food_and_drink

              - if @venue.price_and_discount_info.present?
                %dt Price / Student Discount:
                %dd.price_and_discount_info= @venue.price_and_discount_info

            - if @venue.website.present?
              %a.box{:href => @venue.website, :target => '_blank'} Visit this venue's website
  .section
    .container
      .body
        %h3.snug Their words:
        = simple_format(@venue.their_words)
  .section
    .container
      .body
        %h3.snug Our words:
        = simple_format(@venue.our_words)
        
  - if @venue.videos.any?
    #latest-videos
      .section
        .pl10.pt5
          %h3.inline Latest videos from this venue:
          %a.box{ :href => videos_path(:search => { :show_venue_id_equals => @venue }) } See all videos from this venue
      .section.snug
        -# TODO refactor
        -# this and artists show should share the same partial?
        %ul.inline-list.grid-view
          - @venue.videos.order_by_show_date.group_by_show.limit(4).each do |video|
            - group_name = video.show.group_name
            - time = video.show.when.strftime('%m/%d/%Y')
            - venue = video.show.venue.name
            - title = groupd_name + ' - ' + time + ' @ ' + venue
            %li.container{ :class => cycle('first', '', '', 'last') }
              %a.block{ :href => video_path(video), :title => title, :data => { :video => video.id, :show => video.show.id, :embed_code => video.embed_code } }
                .body
                  = image_tag(video.thumbnail.url(:tiny))
                  .clear
                  %span.box.block.name
                    %span= group_name
                  %p.byline #{time}, #{venue}
