- @page_class = 'layout-1 page-shows'
.col-1
  .section
    %span.box.dark Search Shows By...
    = form_for @shows do |f|
      %fieldset.searchy
        .field.text
          = f.label :artists_name_starts_with, 'Artist:'
          .input
            = f.text_field :artists_name_starts_with
          .submit
            = f.submit :search
        .field.select
          = f.label :venue_id_equals, 'Venue:'
          .input
            = f.collection_select :venue_id_equals, Venue.all, :id, :name, :include_blank => 'any venue' 
          .submit
            = f.submit :search
        .calendar-wrapper
          .field.calendar.floatleft
            = f.label :for_day, 'Date:'
            = f.hidden_field :for_day
            #datepicker{ :data => { :input => '#search_for_day', :'default-date' => @current_date.strftime('%Y-%m-%d') } }
          .calendar-submit
            = f.submit :search
          .clear

  %h3.box-header See Tonight's Top Picks

  - unless @upcoming_search_and_restore_shows.empty?
    #upcoming-search-and-restore.container.skin-dark
      .body
        %h3 Upcoming Search&amp;Restore Shows:
        %ul.header-meta-list
          - @upcoming_search_and_restore_shows.each do |show|
            %li
              %h4= show.group_name
              %p.byline
                %span.date= show.when.strftime("%m/%d/%Y")
                %span.location= link_to(show.venue.name, show.venue)
        = link_to("See All Search&amp;Restore Shows", shows_path(:search => { :search_and_restore_is_true => 1 }), :class => 'box')

.col-2
  %h3 Search results for #{@current_date.strftime("%A %B %d, %Y")}
  %ul.containers.show-listing
    - @shows.each do |show|
      %li.container[show]
        .body
          %p.box.dark.band= show.group_name
          = link_to("#{show.venue.name}", show.venue, :class => 'box venue')
          %p.date= show.when.strftime("%m/%d/%Y %I:%M%p")
          .clear

          - if show.performances.present?
            %h3#featured-musicians-title Featured Musicians:
            %ul.inline-list
              - show.performances.each do |performance|
                %li.featured-musician= link_to(content_tag(:strong,performance.artist.name) << "(#{performance.instrument.name})", performance.artist, :class => 'box')

          - if show.description.present?
            %h3 About This Show
            .description
              = simple_format(sanitize(show.description))
.clear
