- show = selected_video.show

#video_player_container.body{ :data => { :video => selected_video.id, 
                                         :show  => show.id } }
  :plain
    #{selected_video.embed_code}
  %p
    = link_to(show.group_name, show, :class => 'box dark')
    = show.when.strftime("%m/%d/%Y")
    = link_to(show.venue.name, show.venue, :class => 'venue-link')

  - if show.videos.count > 1
    %h3 More Videos from this Show
    %ul#related_videos.inline-list
      - show.videos.each do |video|
        %li.container{ :class => (selected_video == video && 'active') }
          %a.block{:href => video.url, :data => { :video => video.id, :show => video.show.id, :embed_code => video.embed_code }}
            .body
              = image_tag(video.thumbnail.url(:tiny))
              .clear
              %span.box.block.name= video.title

  %h3 Featured Artists
  %ul.inline-list
    - show.performances.each do |performance|
      %li= link_to("#{performance.artist.name} (#{performance.instrument.present? ? performance.instrument.name : performance.artist.instrument.name})",
        performance.artist, :class => 'box')

