!!!
%html
  %head
    %title Searchandrestore
    = stylesheet_link_tag 'base'
    = csrf_meta_tag

  - body_attributes = {:class => @page_class}
  - if @uses_gmap
    -  body_attributes.merge!({:onload => 'initialize();',:onunload => 'GUnload();'})

  %body.jazz{body_attributes}
  
    - if flash[:notice]
      .flash#notice
        = flash[:notice]

    - if flash[:alert]
      .flash#alert
        = flash[:alert]
    

    .masthead
      .site-container
        .masthead-top
          = image_tag('logo.png', :alt => 'Search and Restore', :id => 'logo')
        %ul.nav
          %li
            %a{:href => '#'} Home
          %li.selected
            %a{:href => '/home/shows'} Shows
          %li
            %a{:href => '/home/artists_landing'} Artists
          %li
            %a{:href => '/home/venues'} Venues
          %li
            %a{:href => '/home/video_landing'} Video
          %li
            %a{:href => '/home/about'} About
          %li
            %a{:href => '/home/resources'} Resources
          %li
            %a{:href => '#'} Donate
    .site-container#main-content
      = yield

    = javascript_include_tag ['jquery-5.1.min.js']

    - if @uses_gmap
      %script{:src => "http://maps.google.com/maps?file=api&v=2&key=#{config.GMAP_KEY}&sensor=false"}
  
      :javascript
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 13);
        map.setUIToDefault();
      
      
