!!!
%html
  %head
    %title Searchandrestore
    = stylesheet_link_tag 'base'
    = csrf_meta_tag

  %body
  
    - if flash[:notice]
      .flash#notice
        = flash[:notice]

    - if flash[:alert]
      .flash#alert
        = flash[:alert]
    
    = yield

    = javascript_include_tag ['jquery-5.1.min.js']
  
