- @has_video          = true
- @video_url_params ||= { }

- content_for(:content) do
  .col-1
    - if content_for?(:col1)
      = yield(:col1)

    - else
      .section
        .box.dark Search Videos By...
        = form_for :blah do |f|
          %fieldset.searchy
            .field.select
              = f.label :artist, 'Artist:'
              .input
                = f.select :artist, ['One','Two','Three']
              .submit
                = f.submit :search
            .field.select
              = f.label :venue, 'Venue:'
              .input
                = f.select :venue, ['One','Two','Three']
              .submit
                = f.submit :search
            .clear
      .section
        .container.skin-dark
          .body
            %h3 Free Space!

  .col-2
    .section
      .container= content_for?(:video_content) ? yield(:video_content) : yield

    - if @videos.present?
      .section.pl10.pt5
        %h3 More videos featuring this artist:
      .section
        %ul#more_videos.inline-list.grid-view
          - @videos.each do |video|
            %li.container{:class => cycle('first','','','last')}
              %a.block{:href => video_path(video, @video_url_params), :data => { :video => video.id, :show => video.show.id, :embed_code => video.embed_code }}
                .body
                  = image_tag(video.thumbnail.url(:tiny))
                  .clear
                  %span.box.block.name= video.show.group_name
                  %p.show
                    %span.when= video.show.when.strftime("%m/%d/%Y")
                    %span.venue= video.show.venue.name

= render :template => 'layouts/application'
