- @has_video          = true
- @video_url_params ||= { }

- content_for(:content) do
  .col-1
    - if content_for?(:col1)
      = yield(:col1)

    - else
      .section
        .box.dark Search Videos By...
        = form_for @videos, :url => videos_url do |f|
          %fieldset.searchy
            .field.select
              = f.label :performances_artist_id_equals, 'Artist:'
              .input
                = f.collection_select :performances_artist_id_equals, Artist.with_state(:live), :id, :name, :include_blank => 'any artist'
              .submit
                = f.submit :search
            .field.select
              = f.label :show_venue_id_equals, 'Venue:'
              .input
                = f.collection_select :show_venue_id_equals, Venue.all, :id, :name, :include_blank => 'any venue'
              .submit
                = f.submit :search
            .clear

  .col-2
    .section
      .container= content_for?(:video_content) ? yield(:video_content) : yield

    - if @videos.present?
      .section.pl10.pt5
        %h3 More videos featuring this artist:
      .section
        %ul#more_videos.inline-list.grid-view
          - @videos.each do |video|
            = render :partial => 'videos/video_thumb', :locals => {:li_class => cycle('first','','','last'), :video => video}

= render :template => 'layouts/application'
